<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT faq ANY>
<!ATTLIST faq id ID #REQUIRED>
<!ELEMENT faqCategory ANY>
<!ATTLIST faqCategory id ID #REQUIRED>
<!ELEMENT faqQuestion ANY>
<!ATTLIST faqQuestion id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-2">
    <iBookFeed id="2500" parentID="-2" level="1" writerID="0" creatorID="0" nodeType="2000" template="" sortOrder="1" createDate="2008-06-01T23:12:54" updateDate="2010-07-05T23:15:44" nodeName="DemoPublication" urlName="demopublication" writerName="Administrator" creatorName="Administrator" path="-1,1048,2000" isDoc="" publishedDate="2010-07-05T23:15:44" publishedScheduledDate="2011-07-05T23:15:44" unPublishedScheduledDate="2011-09-05T23:15:44">
      <iBookEdition id="2501" parentID="2500" level="2" writerID="0" creatorID="0" nodeType="2001" template="" sortOrder="1" createDate="2008-06-01T23:12:54" updateDate="2010-07-05T23:15:44" nodeName="edition1" urlName="edition1" writerName="Administrator" creatorName="Administrator" path="-1,1048,2000,2001" isDoc="" publishedDate="2010-07-05T23:15:44" publishedScheduledDate="2011-07-05T23:15:44" unPublishedScheduledDate="2011-09-05T23:15:44">
        <summary>
          <![CDATA[
summary]]>
        </summary>
        <authorName><![CDATA[John Wiley & Sons]]></authorName>
        <title><![CDATA[title]]></title>
        <coverImage><![CDATA[546a124b26874d7e83d6627d0dea8d06,storage$net_root$file-uploader$_p__file-uploader$_v__string$_546a124b26874d7e83d6627d0dea8d06$!01.jpg]]></coverImage>
        <content><![CDATA[title]]></content>
      </iBookEdition>
        <iBookEdition id="2502" parentID="2500" level="2" writerID="0" creatorID="0" nodeType="2001" template="" sortOrder="2" createDate="2008-06-01T23:12:54" updateDate="2010-07-05T23:15:44" nodeName="edition2" urlName="edition2" writerName="Administrator" creatorName="Administrator" path="-1,1048,2000,2002" isDoc="" publishedDate="2010-07-05T23:15:44" publishedScheduledDate="2011-07-05T23:15:44" unPublishedScheduledDate="2011-09-05T23:15:44">
          <summary>
            <![CDATA[
summary]]>
          </summary>
          <authorName><![CDATA[John Wiley & Sons]]></authorName>
          <title><![CDATA[title]]></title>
          <coverImage><![CDATA[546a124b26874d7e83d6627d0dea8d06,storage$net_root$file-uploader$_p__file-uploader$_v__string$_546a124b26874d7e83d6627d0dea8d06$!01.jpg]]></coverImage>
          <content><![CDATA[title]]></content>
        </iBookEdition>
     </iBookFeed>
</root>