<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT faq ANY>
<!ATTLIST faq id ID #REQUIRED>
<!ELEMENT faqCategory ANY>
<!ATTLIST faqCategory id ID #REQUIRED>
<!ELEMENT faqQuestion ANY>
<!ATTLIST faqQuestion id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>

]>
<root id="-2">
    <iBookFeed id="2500" parentID="-2" level="1" writerID="0" creatorID="0" nodeType="2000" template="" sortOrder="1" createDate="2008-06-01T23:12:54" updateDate="2010-07-05T23:15:44" nodeName="DemoPublication" urlName="demopublication" writerName="Administrator" creatorName="Administrator" path="-1,1048,2000" isDoc="" publishedDate="2010-07-05T23:15:44" publishedScheduledDate="2011-07-05T23:15:44" unPublishedScheduledDate="2011-09-05T23:15:44">
      <iBookEdition id="2501" parentID="2500" level="2" writerID="0" creatorID="0" nodeType="2001" template="" sortOrder="1" createDate="2008-06-01T23:12:54" updateDate="2010-07-05T23:15:44" nodeName="edition1" urlName="edition1" writerName="Administrator" creatorName="Administrator" path="-1,1048,2000,2001" isDoc="" publishedDate="2010-07-05T23:15:44" publishedScheduledDate="2011-07-05T23:15:44" unPublishedScheduledDate="2011-09-05T23:15:44">
        <summary>
          <![CDATA[
summary]]>
        </summary>
        <authorName><![CDATA[John Wiley & Sons]]></authorName>
        <title><![CDATA[Book 1]]></title>
        <coverImage><![CDATA[546a124b26874d7e83d6627d0dea8d06,storage$net_root$file-uploader$_p__file-uploader$_v__string$_546a124b26874d7e83d6627d0dea8d06$!01.jpg]]></coverImage>
      </iBookEdition>
        <iBookEdition id="2502" parentID="2500" level="2" writerID="0" creatorID="0" nodeType="2001" template="" sortOrder="2" createDate="2008-06-01T23:12:54" updateDate="2010-07-05T23:15:44" nodeName="edition2" urlName="edition2" writerName="Administrator" creatorName="Administrator" path="-1,1048,2000,2002" isDoc="" publishedDate="2010-07-05T23:15:44" publishedScheduledDate="2011-07-05T23:15:44" unPublishedScheduledDate="2011-09-05T23:15:44">
          <summary>
            <![CDATA[
summary]]>
          </summary>
          <authorName><![CDATA[John Wiley & Sons]]></authorName>
          <title><![CDATA[title]]></title>
          <coverImage><![CDATA[546a124b26874d7e83d6627d0dea8d06,storage$net_root$file-uploader$_p__file-uploader$_v__string$_546a124b26874d7e83d6627d0dea8d06$!01.jpg]]></coverImage>
          <cacheManifest>
            CACHE MANIFEST

            giraffe\css\default.css

            giraffe\css\MousseScript.otf

            giraffe\css\PlantinStd-Italic.otf

            giraffe\css\PlantinStd.otf

            giraffe\css\SansSerifShaded.ttf



            giraffe\assets\drinking.mp3

            giraffe\assets\frogs.mp3

            giraffe\assets\knocking_6.wav



            giraffe\images\01.jpg

            giraffe\images\02.jpg

            giraffe\images\03.jpg

            giraffe\images\04.jpg

            giraffe\images\05.jpg

            giraffe\images\06.jpg

            giraffe\images\07-v1.jpg

            giraffe\images\08-v1.jpg

            giraffe\images\09.jpg

            giraffe\images\10.jpg

            giraffe\images\11-v1.jpg

            giraffe\images\12.jpg

            giraffe\images\chandy_trans.png

            giraffe\images\cover.jpg

            giraffe\images\cross.png

            giraffe\images\eyes.png

            giraffe\images\eyes_orig.png

            giraffe\images\fish_trans.png

            giraffe\images\giraffe_head_mask.png

            giraffe\images\giraffe_head_trans.png

            giraffe\images\giraffe_neck_trans.png

            giraffe\images\giraffe_trans.png

            giraffe\images\ripples.png
          </cacheManifest>
          <iBookPage id="2551" parentID="2502" level="3" writerID="0" creatorID="0" nodeType="2001" template="" sortOrder="2" createDate="2008-06-01T23:12:54" updateDate="2010-07-05T23:15:44" nodeName="page1" urlName="pag1" writerName="Administrator" creatorName="Administrator" path="-1,1048,2000,2002,2502" isDoc="" publishedDate="2010-07-05T23:15:44" publishedScheduledDate="2011-07-05T23:15:44" unPublishedScheduledDate="2011-09-05T23:15:44">
            <contentUrl>books.pugpig.com/BOOKJASMINA/00.html</contentUrl>
          </iBookPage>

          <iBookPage id="2552" parentID="2502" level="3" writerID="0" creatorID="0" nodeType="2001" template="" sortOrder="2" createDate="2008-06-01T23:12:54" updateDate="2010-07-05T23:15:44" nodeName="page1" urlName="pag1" writerName="Administrator" creatorName="Administrator" path="-1,1048,2000,2002,2502" isDoc="" publishedDate="2010-07-05T23:15:44" publishedScheduledDate="2011-07-05T23:15:44" unPublishedScheduledDate="2011-09-05T23:15:44">
            <contentUrl>books.pugpig.com/BOOKJASMINA/01.html</contentUrl>
          </iBookPage>

        </iBookEdition>
     </iBookFeed>
</root>