
<!DOCTYPE html>

	<html>

	<head>

	    <meta charset="UTF-8"/>

	    <link rel="stylesheet" href="/Content/Styles/InitContentEditor/reset.css"/>

	    <link rel="stylesheet" href="/Content/Styles/InitContentEditor/style.css"/>

	    <title>Pugpig - Aqueduct - Umbraco</title>

	    

	    <!--[if lt IE 9]>

	    	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

	  	<![endif]-->

	</head>
	<body>

	<div id="outer">

	 <a id="porkMe" href="http://github.com/kaldor/pugpig"></a>

		<div id="wrapper">        

	    	<header>

	   		     <div id="logo">

	             	<a href="index.php" title="Homepage"><img src="http://www.aqueduct.co.uk/images/aqueduct-logo.png" alt="Pugpig logo" /></a>

	             </div>

	           

			</header>

			<div id="top" class="section">

				<img src="/Content/images/InitContentEditor/logobig.png" alt="Pugpig logo"/>

				<p>The smoothest, fastest HTML publishing platform for iOS and beyond - powered by umbraco!</p>                        

				


			</div>

			<div id="middle" class="section">

	            <div id="intro">

	                <h2>You are all set.</h2>

					<p><strong>We have set up a sample publication for you.</strong></p>

					<p>Download the sample app for iphone and plug your feed url into the settings. Your url is: <a target="_new" href="/umbraco/pugpig/PugpigSurface/Editions?publicationName=DemoPublication">Feed Url</a></p>
					<a class="itunesLink" href="http://itunes.apple.com/us/app/pugpig-guide/id441715052?mt=8&amp;ls=1"><img alt="Apple app store logo" src="/Content/images/InitContentEditor/appstore.png"></a>
					

	            </div>

<div id="video" class="section">

				<h2>Watch the video</h2>

				<p class="video">See how our open source reader allows you to create beautiful HTML apps. Come back soon to see Pugpig Live in action!</p>

				<iframe id="pugvid" class="youtube-player" src="http://www.youtube.com/embed/rba2vRt9ZSA?modestbranding=1&amp;rel=0&amp;showinfo=0&amp;controls=0"></iframe>

			</div>				

			
				

			</div>

		</div>	

	

	<script type="text/javascript" src="/Content/js/InitContentEditor/jquery.min.js"></script>

	</div>

	</body>

	</html>

