<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="umbraco.cms">
      <section name="tasks" type="Umbraco.Cms.Web.Configuration.Tasks.TasksConfiguration, Umbraco.Cms.Web" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <umbraco.cms>
    <tasks>

      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/PugpigSurface/Index.cshtml" />
        <parameter name="destination" value="~/Views/PugpigSurface/Index.cshtml" />
      </add>
      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/InstallPugpigData.cshtml" />
        <parameter name="destination" value="~/Views/InitContentEditor/InstallPugpigData.cshtml" />
      </add>
      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/Css/reset.css" />
        <parameter name="destination" value="~/Content/Styles/InitContentEditor/reset.css" />
      </add>
      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/Css/style.css" />
        <parameter name="destination" value="~/Content/Styles/InitContentEditor/style.css" />
      </add>
      
      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/images/devices.png" />
        <parameter name="destination" value="~/Content/Images/InitContentEditor/devices.png" />
      </add>
      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/images/logo.png" />
        <parameter name="destination" value="~/Content/Images/InitContentEditor/logo.png" />
      </add>
      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/images/logobig.png" />
        <parameter name="destination" value="~/Content/Images/InitContentEditor/logobig.png" />
      </add>
      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/images/porkme.png" />
        <parameter name="destination" value="~/Content/Images/InitContentEditor/porkme.png" />
      </add>
      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/images/ppbig.png" />
        <parameter name="destination" value="~/Content/Images/InitContentEditor/ppbig.png" />
      </add>
      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/images/appstore.png" />
        <parameter name="destination" value="~/Content/Images/InitContentEditor/appstore.png" />
      </add>

      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/fonts/karnak-pro-light.woff" />
        <parameter name="destination" value="~/Content/fonts/InitContentEditor/karnak-pro-light.woff" />
      </add>
      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/fonts/karnak-pro-medium.woff" />
        <parameter name="destination" value="~/Content/fonts/InitContentEditor/karnak-pro-medium.woff" />
      </add>

      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/js/hideloadingbar.js" />
        <parameter name="destination" value="~/Content/js/InitContentEditor/hideloadingbar.js" />
      </add>

      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/InitContentEditor/js/jquery.min.js" />
        <parameter name="destination" value="~/Content/js/InitContentEditor/jquery.min.js" />
      </add>
      

      <add type="Umbraco.Cms.Web.Tasks.DisplayUITask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="controllerType" value="Umbraco.Pugpig.Core.Controllers.InitContentEditorController, Umbraco.Pugpig.Core"/>
        <parameter name="action" value="InstallPugpigData"/>
      </add>
    </tasks>
  </umbraco.cms>

  <system.web>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
      </namespaces>
    </pages>
  </system.web>

</configuration>