<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="umbraco.cms">
      <section name="tasks" type="Umbraco.Cms.Web.Configuration.Tasks.TasksConfiguration, Umbraco.Cms.Web" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <umbraco.cms>
    <tasks>

      <add type="Umbraco.Cms.Web.Tasks.CopyFileTask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="source" value="Views/Pugpig/Index.cshtml" />
        <parameter name="destination" value="~/Views/Pugpig/Index.cshtml" />
      </add>
      <add type="Umbraco.Cms.Web.Tasks.DisplayUITask, Umbraco.Cms.Web.Tasks" trigger="post-package-install">
        <parameter name="controllerType" value="Umbraco.Pugpig.Core.Controllers.InitContentEditorController, Umbraco.Pugpig.Core"/>
        <parameter name="action" value="InstallPugpigData"/>
      </add>
    </tasks>
  </umbraco.cms>

  <system.web>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
      </namespaces>
    </pages>
  </system.web>

</configuration>